/* General Styles */
body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: #edb940;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: left;
    width: 80%;
    max-width: 600px;
}

/* Buttons */
.generate-btn,
.reset-btn {
    padding: 7px 15px;
    font-size: 20px;
    background-color: #edb940;
    border: none;
    color: black;
    font-family: 'Orbitron', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 10px;
}

.generate-btn:hover,
.reset-btn:hover {
    background-color: #e1b536;
}

/* Reset button styles */
.reset-btn {
    background-color: #333;
    color: #edb940;
    border: 2px solid #edb940;
}

.reset-btn:hover {
    background-color: #444;
    color: #f0c05b;
}

/* Results Section */
.results {
    margin-top: 20px;
    padding: 15px;
    background-color: #222; /* Dark background for contrast */
    border-radius: 10px;
    border: 2px solid #edb940; /* Highlighting border */
    box-shadow: 0 0 10px rgba(237, 185, 64, 0.5); /* Glow effect */
    text-align: left;
}

.results h2 {
    font-size: 20px;
    margin: 10px 0;
    color: #edb940;
}

.results p {
    font-size: 16px;
    margin: 5px 0;
}

/* Headings and Results */
h2 {
    font-size: 24px;
    color: #edb940;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

/* Flashing Numbers Animation */
@keyframes flash {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.number-flash {
    animation: flash 0.01s steps(2, end) infinite;
}
